## Summary of past lectures
So far we have covered
1.  Basic data type in python which are 
    - strings 
    - numbers
        - int
        - float
        - complex
    - booleans
1.  Variables
1.  Input and Output Operations

I provided excercises for these topics. I hope everyone has solved them and worked on them at home. I hope you all are getting to know the computer programing language and learning Python.

# Operators
In Python, operators are special symbols that designate some computation should be performed. The values that an operator acts on are called **operands**.

Here is an example:

In [2]:
a = 10
b = 20
a + b

30

Here a and b are called operands and + is called operator.

In this case, the + operator adds the operands a and b together.

In Jupyter Notebooks, you can print values without using *print()*

In [4]:
# like this
a + b

30

An operand can be either a literal value or a variable that references an object:

In [5]:
a = 10
b = 20
a + b - 5

25

A sequence of operands and operators, like a + b - 5, is called an expression. Python supports many operators for combining data objects into expressions. These are explored below.

## Arithmetic Operators

The following table lists the arithmetic operators supported by Python:


<style type="text/css">
.tg  {border-collapse:collapse;border-color:#9ABAD9;border-spacing:0;}
.tg td{background-color:#EBF5FF;border-color:#9ABAD9;border-style:solid;border-width:1px;color:#444;
  font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{background-color:#409cff;border-color:#9ABAD9;border-style:solid;border-width:1px;color:#fff;
  font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-fymr{border-color:inherit;font-weight:bold;text-align:left;vertical-align:top}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
</style>
<table class="tg">
<thead>
  <tr>
    <th class="tg-fymr">Operator</th>
    <th class="tg-fymr">Example</th>
    <th class="tg-fymr">Meaning</th>
    <th class="tg-fymr">Result</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-0pky" rowspan="2">+ (unary)</td>
    <td class="tg-0pky" rowspan="2">+a</td>
    <td class="tg-0pky" rowspan="2">Unary Positive</td>
    <td class="tg-0pky">a</td>
  </tr>
  <tr>
    <td class="tg-0pky">In other&nbsp;&nbsp;&nbsp;words, it doesn’t really do anything. It mostly exists for the sake of&nbsp;&nbsp;&nbsp;completeness, to complement Unary Negation.</td>
  </tr>
  <tr>
    <td class="tg-0pky">+ (binary)</td>
    <td class="tg-0pky">a + b</td>
    <td class="tg-0pky">Addition</td>
    <td class="tg-0pky">Sum of a and b</td>
  </tr>
  <tr>
    <td class="tg-0pky">- (unary)</td>
    <td class="tg-0pky">-a</td>
    <td class="tg-0pky">Unary Negation</td>
    <td class="tg-0pky">Value equal to a but&nbsp;&nbsp;&nbsp;opposite in sign</td>
  </tr>
  <tr>
    <td class="tg-0pky">- (binary)</td>
    <td class="tg-0pky">a - b</td>
    <td class="tg-0pky">Subtraction</td>
    <td class="tg-0pky">b subtracted from a</td>
  </tr>
  <tr>
    <td class="tg-0pky">*</td>
    <td class="tg-0pky">a * b</td>
    <td class="tg-0pky">Multiplication</td>
    <td class="tg-0pky">Product of a and b</td>
  </tr>
  <tr>
    <td class="tg-0pky" rowspan="2">/</td>
    <td class="tg-0pky" rowspan="2">a / b</td>
    <td class="tg-0pky" rowspan="2">Division</td>
    <td class="tg-0pky">Quotient when a is&nbsp;&nbsp;&nbsp;divided by b.</td>
  </tr>
  <tr>
    <td class="tg-0pky">The&nbsp;&nbsp;&nbsp;result always has type float.</td>
  </tr>
  <tr>
    <td class="tg-0pky">%</td>
    <td class="tg-0pky">a % b</td>
    <td class="tg-0pky">Modulo</td>
    <td class="tg-0pky">Remainder when a is&nbsp;&nbsp;&nbsp;divided by b</td>
  </tr>
  <tr>
    <td class="tg-0pky">//</td>
    <td class="tg-0pky">a // b</td>
    <td class="tg-0pky">Floor Division (also called Integer Division)</td>
    <td class="tg-0pky">Quotient when a is&nbsp;&nbsp;&nbsp;divided by b,&nbsp;&nbsp;&nbsp;rounded to the next smallest whole number</td>
  </tr>
  <tr>
    <td class="tg-0pky">**</td>
    <td class="tg-0pky">a ** b</td>
    <td class="tg-0pky">Exponentiation</td>
    <td class="tg-0pky">a raised to the power of b</td>
  </tr>
</tbody>
</table>

Here are some examples of these operators in use:

In [6]:
a = 4
+a

4

In [7]:
b = 3
-b

-3

In [8]:
a + b

7

In [9]:
a - b

1

In [10]:
a * b

12

In [11]:
a / b

1.3333333333333333

In [12]:
a % b

1

In [13]:
a // b

1

In [14]:
a ** b

64

The result of standard division (/) is always a float, even if the dividend is evenly divisible by the divisor:

In [12]:
10 / 5

2.0

When the result of floor division (//) is positive, it is as though the fractional portion is truncated off, leaving only the integer portion. When the result is negative, the result is rounded down to the next smallest (greater negative) integer:

In [4]:
10 / 4

2.5

In [14]:
10 // 4

2

In [15]:
10 // -4

-3

In [16]:
-10 // 4

-3

In [17]:
-10 // -4

2

## Comparison Operators
Following are comparison operators used in Python


<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;text-align:left;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;text-align:left;}
.tg .tg-1wig{font-weight:bold;text-align:left;vertical-align:top}
.tg .tg-0lax{text-align:left;vertical-align:top}
</style>
<table class="tg">
<thead>
  <tr>
    <th class="tg-1wig">Operator</th>
    <th class="tg-1wig">Example</th>
    <th class="tg-1wig">Meaning</th>
    <th class="tg-1wig">Result</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-0lax"><span style="color:#222">==</span></td>
    <td class="tg-0lax"><span style="color:#222">a == b</span></td>
    <td class="tg-0lax"><span style="font-weight:bolder">Equal to</span></td>
    <td class="tg-0lax"><span style="color:#222">True</span> if the value of <span style="color:#222">a</span> is equal to the value of <span style="color:#222">b</span><br><span style="color:#222">False</span> otherwise</td>
  </tr>
  <tr>
    <td class="tg-0lax"><span style="color:#222">!=</span></td>
    <td class="tg-0lax"><span style="color:#222">a != b</span></td>
    <td class="tg-0lax"><span style="font-weight:bolder">Not equal to</span></td>
    <td class="tg-0lax"><span style="color:#222">True</span> if <span style="color:#222">a</span> is not equal to <span style="color:#222">b</span><br><span style="color:#222">False</span> otherwise</td>
  </tr>
  <tr>
    <td class="tg-0lax"><span style="color:#222">&lt;</span></td>
    <td class="tg-0lax"><span style="color:#222">a &lt; b</span></td>
    <td class="tg-0lax"><span style="font-weight:bolder">Less than</span></td>
    <td class="tg-0lax"><span style="color:#222">True</span> if <span style="color:#222">a</span> is less than <span style="color:#222">b</span><br><span style="color:#222">False</span> otherwise</td>
  </tr>
  <tr>
    <td class="tg-0lax"><span style="color:#222">&lt;=</span></td>
    <td class="tg-0lax"><span style="color:#222">a &lt;= b</span></td>
    <td class="tg-0lax"><span style="font-weight:bolder">Less than or equal to</span></td>
    <td class="tg-0lax"><span style="color:#222">True</span> if <span style="color:#222">a</span> is less than or equal to <span style="color:#222">b</span><br><span style="color:#222">False</span> otherwise</td>
  </tr>
  <tr>
    <td class="tg-0lax"><span style="color:#222">&gt;</span></td>
    <td class="tg-0lax"><span style="color:#222">a &gt; b</span></td>
    <td class="tg-0lax"><span style="font-weight:bolder">Greater than</span></td>
    <td class="tg-0lax"><span style="color:#222">True</span> if <span style="color:#222">a</span> is greater than <span style="color:#222">b</span><br><span style="color:#222">False</span> otherwise</td>
  </tr>
  <tr>
    <td class="tg-0lax"><span style="color:#222">&gt;=</span></td>
    <td class="tg-0lax"><span style="color:#222">a &gt;= b</span></td>
    <td class="tg-0lax"><span style="font-weight:bolder">Greater than or equal to</span></td>
    <td class="tg-0lax"><span style="color:#222">True</span> if <span style="color:#222">a</span> is greater than or equal to <span style="color:#222">b</span><br><span style="color:#222">False</span> otherwis</td>
  </tr>
</tbody>
</table>

Here are examples of the comparison operators in use:

In [5]:
a = 10
b = 20
a == b

False

In [6]:
a != b

True

In [7]:
a <= b

True

In [8]:
a >= b

False

In [9]:
a = 30
b = 30
a == b

True

In [10]:
a <= b

True

In [11]:
a >= b

True

Comparison operators are typically used in Boolean contexts like conditional and loop statements to direct program flow, as you will see later.

### Equality Comparison on Floating-Point Values
Recall from the earlier discussion of floating-point numbers that the value stored internally for a float object may not be precisely what you’d think it would be. For that reason, it is poor practice to compare floating-point values for exact equality. Consider this example:

In [25]:
x = 1.1 + 2.2
x == 3.3

False

In [26]:
x

3.3000000000000003

The internal representations of the addition operands are not exactly equal to 1.1 and 2.2, so you cannot rely on x to compare exactly to 3.3.

The preferred way to determine whether two floating-point values are “equal” is to compute whether they are close to one another, given some tolerance. Take a look at this example:

In [27]:
tol = 0.00001
x = 1.1 + 2.2
abs(x - 3.3) < tol

True

abs() returns absolute value. If the absolute value of the difference between the two numbers is less than the specified tolerance, they are close enough to one another to be considered equal.