# Sets

## Defining a Set
Python’s built-in set type has the following characteristics:

- Sets are unordered.
- Set elements are unique. Duplicate elements are not allowed.
- A set itself may be modified, but the elements contained in the set must be of an immutable type.

Let’s see what all that means, and how you can work with sets in Python.

A set can be created in two ways. 

### First, 
you can define a set with curly braces ({}):

x = {<obj>, <obj>, ..., <obj>}

When a set is defined this way, each `obj` becomes a distinct element of the set, even if it is an iterable. This behavior is similar to that of the .append() list method.

Thus, the sets shown above can also be defined like this:

In [1]:
x = {'foo', 'bar', 'baz', 'foo', 'qux'}
x

{'bar', 'baz', 'foo', 'qux'}

In [3]:
x = {'q', 'u', 'u', 'x'}
x

{'q', 'u', 'x'}

### Second
you can define a set with the built-in set() function:

x = set(<iter>)

In this case, the argument `iter` is an iterable—again, for the moment, think list or tuple—that generates the list of objects to be included in the set. This is analogous to the `iter` argument given to the .extend() list method:

In [4]:
x = set(['foo', 'bar', 'baz', 'foo', 'qux'])
x

{'bar', 'baz', 'foo', 'qux'}

In [5]:
x = set(('foo', 'bar', 'baz', 'foo', 'qux'))
x

{'bar', 'baz', 'foo', 'qux'}

Strings are also iterable, so a string can be passed to set() as well. You have already seen that list(s) generates a list of the characters in the string s. Similarly, set(s) generates a set of the characters in s:

In [1]:
s = set('quux')
s

{'q', 'u', 'x'}

To recap:

- The argument to set() is an iterable. It generates a list of elements to be placed into the set.
- The objects in curly braces are placed into the set intact, even if they are iterable.

Observe the difference between these two set definitions:

In [9]:
x = {'foo'}
x

{'foo'}

In [10]:
x= set('foo')
x

{'f', 'o'}

## Empty Set
A set can be empty. However, recall that Python interprets empty curly braces ({}) as an empty dictionary, so the only way to define an empty set is with the set() function:

In [11]:
x = set()
type(x)

set

In [12]:
x = {}
type(x)

dict

You might think the most intuitive sets would contain similar objects—for example, even numbers or surnames:

In [4]:
s1 = {2, 4, 6, 8, 10}
s2 = {'Smith', 'McArthur', 'Wilson', 'Johansson'}

Python does not require this, though. The elements in a set can be objects of different types:

In [7]:
x = {42, 'foo', 3.14159, None,(1,2)}
x

{(1, 2), 3.14159, 42, None, 'foo'}

## Elements of Set
Don’t forget that set elements must be immutable. For example, a tuple may be included in a set:

In [14]:
x = {42, 'foo', (1, 2, 3), 3.14159}
x

{(1, 2, 3), 3.14159, 42, 'foo'}

But lists and dictionaries are mutable, so they can’t be set elements:

In [2]:
a = {42, 'foo',[1, 2, 3]}
a

TypeError: unhashable type: 'list'

In [3]:
d = {42, 'foo',{'a': 1, 'b': 2}}
d

TypeError: unhashable type: 'dict'

## Sets Operations
Many of the operations that can be used for Python’s other composite data types don’t make sense for sets. For example, sets can’t be indexed or sliced. However, Python provides a whole host of operations on set objects that generally mimic the operations that are defined for mathematical sets.

### `set.union()`

In [1]:
x1 = {'foo', 'bar', 'baz'}
x2 = {'baz', 'qux', 'quux'}
x1.union(x2)

{'bar', 'baz', 'foo', 'quux', 'qux'}

In [2]:
x1

{'bar', 'baz', 'foo'}

In [11]:
x1 = {'foo', 'bar', 'baz'}
x2 = {'baz', 'qux', 'quux'}

In [12]:
# Union can also be performed using
x1 | x2

{'bar', 'baz', 'foo', 'quux', 'qux'}

In [13]:
x1

{'bar', 'baz', 'foo'}

In [19]:
# This is also possible
a = {1, 2, 3, 4}
b = {2, 3, 4, 5}
c = {3, 4, 5, 6}
d = {4, 5, 6, 7}
a.union(b, c, d)

{1, 2, 3, 4, 5, 6, 7}

In [20]:
a | b | c | d

{1, 2, 3, 4, 5, 6, 7}

## `set.intersection()`

In [3]:
# x1.intersection(x2) and x1 & x2 return the set of elements common to both x1 and x2:
x1 = {'foo', 'bar', 'baz'}
x2 = {'baz', 'qux', 'quux','bar'}
x1.intersection(x2)

{'bar', 'baz'}

In [4]:
x1 & x2

{'bar', 'baz'}

## `set.difference()`

In [5]:
# x1.difference(x2) and x1 - x2 return the set of all elements that are in x1 but not in x2:
# Another way to think of this is that x1.difference(x2) and x1 - x2 return the set that results 
# when any elements in x2 are removed or subtracted from x1.
x1 = {'foo', 'bar', 'baz'}
x2 = {'baz', 'qux', 'quux'}

x1.difference(x2)

{'bar', 'foo'}

In [6]:
x1 - x2

{'bar', 'foo'}

In [7]:
x2 - x1

{'quux', 'qux'}

## `set.symmetric_difference()`
## `set.isdisjoint(), set.issubset(), set.issuperset()`

In [25]:
# x1.symmetric_difference(x2) and x1 ^ x2 return the set of all elements in either x1 or x2, but not both:
x1 = {'foo', 'bar', 'baz'}
x2 = {'baz', 'qux', 'quux'}

x1.symmetric_difference(x2)

{'bar', 'foo', 'quux', 'qux'}

In [26]:
x1 ^ x2

{'bar', 'foo', 'quux', 'qux'}

In [27]:
# x1.isdisjoint(x2) returns True if x1 and x2 have no elements in common:
x1 = {'foo', 'bar', 'baz'}
x2 = {'baz', 'qux', 'quux'}

x1.isdisjoint(x2)

False

In [28]:
# x1.issubset(x2) and x1 <= x2 return True if x1 is a subset of x2:
x1 = {'foo', 'bar', 'baz'}
x2 = {'foo', 'bar', 'baz', 'qux', 'quux'}
x1.issubset(x2)

True

In [29]:
x1 <= x2

True

In [30]:
# A proper subset is the same as a subset, except that the sets can’t be identical. A set x1 is considered a proper subset of 
# another set x2 if every element of x1 is in x2, and x1 and x2 are not equal.
x1 = {'foo', 'bar'}
x2 = {'foo', 'bar', 'baz'}
x1 < x2

True

In [8]:
x1 = {'foo', 'bar', 'baz'}
x2 = {'foo', 'bar', 'baz'}
x1 < x2

True

In [34]:
# x1.issuperset(x2) and x1 >= x2 return True if x1 is a superset of x2:
x1 = {'foo', 'bar', 'baz'}
x2 = {'foo', 'bar'}
x1.issuperset(x2)

True

In [35]:
x1 >= x2

True

In [36]:
# x1 > x2 returns True if x1 is a proper superset of x2:
x1 = {'foo', 'bar', 'baz'}
x2 = {'foo', 'bar'}
x1 > x2

True

In [37]:
x1 = {'foo', 'bar', 'baz'}
x2 = {'foo', 'bar', 'baz'}
x1 > x2

False

## `set.add(<elem>), set.update(set), set.remove(<elem>)`
## `set.discard(<elem>), set.pop(), set.clear()`

In [38]:
# x.add(<elem>) adds <elem>, which must be a single immutable object, to x:

x = {'foo', 'bar', 'baz'}
x.add('qux')
x

{'bar', 'baz', 'foo', 'qux'}

In [39]:
# x1.update(x2) and x1 |= x2 add to x1 any elements in x2 that x1 does not already have:
x1 = {'foo', 'bar', 'baz'}
x2 = {'foo', 'baz', 'qux'}

x1 |= x2
x1

{'bar', 'baz', 'foo', 'qux'}

In [40]:
x1.update(['corge', 'garply'])
x1

{'bar', 'baz', 'corge', 'foo', 'garply', 'qux'}

In [42]:
# x.remove(<elem>) removes <elem> from x. Python raises an exception if <elem> is not in x:

x = {'foo', 'bar', 'baz'}

x.remove('baz')
x

{'bar', 'foo'}

In [43]:
x.remove('qux')

KeyError: 'qux'

In [44]:
# x.discard(<elem>) also removes <elem> from x. However, if <elem> is not in x, 
# this method quietly does nothing instead of raising an exception:

x = {'foo', 'bar', 'baz'}

x.discard('baz')
x

{'bar', 'foo'}

In [45]:
x.discard('qux')
x

{'bar', 'foo'}

In [19]:
# x.pop() removes and returns an arbitrarily chosen element from x. If x is empty, x.pop() raises an exception:

x = {'foo', 'bar', 'baz'}

x.pop()

x

{'baz', 'foo'}

In [20]:
x.pop()

x

{'baz'}

In [21]:
x.pop()
x

set()

In [22]:
x.pop()
x

KeyError: 'pop from an empty set'

In [23]:
# x.clear() removes all elements from x:

x = {'foo', 'bar', 'baz'}
x

{'bar', 'baz', 'foo'}

In [24]:
x.clear()
x

set()