# [Lists](https://docs.python.org/3/library/stdtypes.html#lists) and [Tuples](https://docs.python.org/3/library/stdtypes.html#tuples)

We covered basic data types in Python, which are 
- String
- Numbers
- Boolean

## Composite data types in Python
In Python there are 4 composite data types
1. List
1. Tuple
1. Set
1. Dictonary 

These are arguably Python’s most versatile, useful data types. You will find them in virtually every nontrivial Python program.
In this class we will try to cover List and Tuple

**Here’s what you’ll learn in this tutorial:** You’ll cover the important characteristics of lists and tuples. You’ll learn how to define them and how to manipulate them. When you’re finished, you should have a good feel for when and how to use this object types in a Python program.

## Python List
In short, a list is a collection of arbitrary objects. Lists are defined in Python by enclosing a comma-separated sequence of objects in square brackets ([]), as shown below:

In [1]:
a = ['foo', 'bar', 'baz', 'qux']
a

['foo', 'bar', 'baz', 'qux']

In [106]:
a = list(['foo', 'bar', 'baz', 'qux'])
a

['foo', 'bar', 'baz', 'qux']

The important characteristics of Python lists are as follows:

- Lists are ordered.
- Lists can contain any arbitrary objects.
- List elements can be accessed by index.
- Lists can be nested to arbitrary depth.
- Lists are mutable.
- Lists are dynamic.

Each of these features is examined in more detail below.
#### Lists Are Ordered

A list is not merely a collection of objects. It is an ordered collection of objects. The order in which you specify the elements when you define a list is an innate characteristic of that list and is maintained for that list’s lifetime. (You will see a Python data type that is not ordered in the next tutorial on dictionaries.)

Lists that have the same elements in a different order are not the same:

In [2]:
a = ['foo', 'bar', 'baz', 'qux']
b = ['baz', 'qux', 'bar', 'foo']
a == b

False

In [3]:
a = [1, 2, 3, 4] 
b = [4, 1, 3, 2]
a == b

False

In [4]:
a = [1, 2, 3, 4] 
b = [1, 2, 3, 4]
a == b

True

#### Lists Can Contain Arbitrary Objects
A list can contain any assortment of objects. The elements of a list can all be the same type:

In [ ]:
a = [2, 4, 6, 8]
a

Or the elements can be of varying types:

In [5]:
a = [21.42, 'foobar', 3, 4, 'bark', False, 3.14159]
a

[21.42, 'foobar', 3, 4, 'bark', False, 3.14159]

Lists can even contain complex objects, like functions, classes, and modules, which you will learn about in upcoming tutorials:

In [7]:
import math
math
a = [int, len, math]
a

[int, <function len(obj, /)>, <module 'math' (built-in)>]

A list can contain any number of objects, from zero to as many as your computer’s memory will allow:

In [9]:
a = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20,
21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40,
41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60,
61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80,
81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

#### List Elements Can Be Accessed by Index
Individual elements in a list can be accessed using an index in square brackets. This is exactly analogous to accessing individual characters in a string. List indexing is zero-based as it is with strings.

Consider the following list:

In [2]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

The indices for the elements in a are shown below:
<img src="list1.png">
Here is Python code to access some elements of a:

In [5]:
len(a)

6

In [4]:
a[3]

'qux'

a negative list index counts from the end of the list:
<img src="list2.png">

In [7]:
a[-1]

'corge'

#### Slicing List
If a is a list, the expression a[m:n] returns the portion of a from index m to, but not including, index n:

In [1]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

a[2:5]

['baz', 'qux', 'quux']

Both positive and negative indices can be specified:

In [17]:
a[-5:-2]

['bar', 'baz', 'qux']

In [18]:
a[1:4]

['bar', 'baz', 'qux']

In [19]:
a[-5:-2] == a[1:4]

True

Omitting the first index starts the slice at the beginning of the list, and omitting the second index extends the slice to the end of the list:

In [20]:
a[:5]

['foo', 'bar', 'baz', 'qux', 'quux']

In [111]:
a[2:]

['baz', 'qux', 'quux', 'corge']

#### Use of Operators 
Several Python operators and built-in functions can also be used with lists in ways that are analogous to strings:
- The in and not in operators:

In [2]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
'qux' in a

True

In [22]:
'thud' not in a

True

In [113]:
languages = ['Java', 'C++', 'Go', 'Python', 'JavaScript']
if 'Python' in languages:
    print('Python is there!')

Python is there!

In [1]:
if 6 not in [1, 2, 3, 7]:
    print('number 6 is not present')

number 6 is not present

- The concatenation (+) and replication (*) operators:

In [116]:
a + ['grault', 'garply']

['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'grault', 'garply']

In [26]:
print(a * 2)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'foo', 'bar', 'baz', 'qux', 'quux', 'corge']

- The len(), min(), and max() functions:

In [117]:
len(a)

6

In [118]:
min(a)

'bar'

In [29]:
max(a)

'qux'

#### Lists Can Be Nested
You have seen that an element in a list can be any sort of object. That includes another list. A list can contain sublists, which in turn can contain sublists themselves, and so on to arbitrary depth.

Consider this example:

In [12]:
x = ['a', ['bb', ['ccc', 'ddd'], 'ee', 'ff'], 'g', ['hh', 'ii'], 'j']
x

['a', ['bb', ['ccc', 'ddd'], 'ee', 'ff'], 'g', ['hh', 'ii'], 'j']

The object structure that x references is diagrammed below:
<img src="list3.png">

x[0], x[2], and x[4] are strings, each one character long:

In [15]:
x

['a', ['bb', ['ccc', 'ddd'], 'ee', 'ff'], 'g', ['hh', 'ii'], 'j']

In [16]:
x[1]

['bb', ['ccc', 'ddd'], 'ee', 'ff']

In [18]:
x[1][1]

['ccc', 'ddd']

In [19]:
x[1][1][0]

'ccc'

In [31]:
print(x[0], x[2], x[4])

a g j

But x[1] and x[3] are sublists:

In [32]:
x[1]

['bb', ['ccc', 'ddd'], 'ee', 'ff']

In [33]:
x[3]

['hh', 'ii']

To access the items in a sublist, simply append an additional index:

In [2]:
x[1]

['bb', ['ccc', 'ddd'], 'ee', 'ff']

In [3]:
x[1][1]

['ccc', 'ddd']

In [36]:
x[1][1]

['ccc', 'ddd']

In [6]:
x[1][1][0]

'ccc'

In [37]:
x[1][2]

'ee'

In [38]:
x[1][3]

'ff'

In [24]:
st = 'Python'
st[1]

'y'

#### Lists Are Mutable
Most of the data types you have encountered so far have been atomic types. Integer or float objects, for example, are primitive units that can’t be further broken down. These types are immutable, meaning that they can’t be changed once they have been assigned. It doesn’t make much sense to think of changing the value of an integer. If you want a different integer, you just assign a different one.

By contrast, the string type is a composite type. Strings are reducible to smaller parts—the component characters. It might make sense to think of changing the characters in a string. But you can’t. In Python, strings are also immutable.

The list is the first mutable data type you have encountered. Once a list has been created, elements can be added, deleted, shifted, and moved around at will. Python provides a wide range of ways to modify lists.

#### Modifying a Single List Value
A single value in a list can be replaced by indexing and simple assignment:

In [23]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

a[2] = 10
a[-1] = 20
a

['foo', 'bar', 10, 'qux', 'quux', 20]

In [8]:
a = 10
a

10

#### Prepending or Appending Items to a List
Additional items can be added to the start or end of a list using the + concatenation operator or the += augmented assignment operator:

In [9]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

a = a + ['grault', 'garply']
a

['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'grault', 'garply']

In [10]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

a = [10, 20] + a
a

[10, 20, 'foo', 'bar', 'baz', 'qux', 'quux', 'corge']

Note that a list must be concatenated with another list, so if you want to add only one element, you need to specify it as a singleton list:

In [11]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
a = a + 20

TypeError: can only concatenate list (not "int") to list

In [12]:
a = a + [20]
a

['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 20]

#### Methods That Modify a List
Finally, Python supplies several built-in methods that can be used to modify lists. Information on these methods is detailed below.

## `list.append(<obj>)`

a.append(<obj>)

Appends an object to a list.

a.append(<obj>) appends object <obj> to the end of list a:

In [27]:
a = ['a', 'b']
a.append(123)
a

['a', 'b', 123]

## `list.extend(<iterable>)`

a.extend(<iterable>)

Extends a list with the objects from an iterable.

In [28]:
a = ['a', 'b']
a.extend([1, 2, 3])
a

['a', 'b', 1, 2, 3]

In [30]:
a = ['a', 'b']
a = a + [1, 2, 3]
a

['a', 'b', 1, 2, 3]

## `list.insert(<index>, <obj>)`

a.insert(<index>, <obj>)

Inserts an object into a list.

a.insert(<index>, <obj>) inserts object <obj> into list a at the specified <index>. Following the method call, a[<index>] is <obj>, and the remaining list elements are pushed to the right:

In [14]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
a.insert(3, 3.14159)
a

['foo', 'bar', 'baz', 3.14159, 'qux', 'quux', 'corge']

In [15]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
a[3] = 3.14159
a

['foo', 'bar', 'baz', 3.14159, 'quux', 'corge']

## `list.remove(<obj>)`

a.remove(<obj>)

Removes an object from a list.

a.remove(<obj>) removes object <obj> from list a. If <obj> isn’t in a, an exception is raised:

In [5]:
a = ['foo', 'bar', 'baz', 'qux', 'quux','baz', 'corge']
a.remove('baz')
a

['foo', 'bar', 'qux', 'quux', 'baz', 'corge']

In [32]:
a.remove('Bark!')

ValueError: list.remove(x): x not in list

In [33]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
if 'Bark!' in a:
    a.remove('Bark!')

## `list.pop(index=-1)`

a.pop(index=-1)

Removes an element from a list.

This method differs from .remove() in two ways:

1. You specify the index of the item to remove, rather than the object itself.
2. The method returns a value: the item that was removed.

a.pop() simply removes the last item in the list:

In [34]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
x = a.pop()
a

['foo', 'bar', 'baz', 'qux', 'quux']

In [6]:
x = a.pop()
x

'corge'

In [23]:
a.pop(-3)
a

['foo', 'baz', 'qux']

## `list.sort()`

In [38]:
??list.sort

In [24]:
numbers = [8, 1, 6, 5, 10]
numbers.sort()
print('numbers: {}'.format(numbers))

numbers: [1, 5, 6, 8, 10]

In [25]:
numbers.sort(reverse=True)
print('numbers reversed: {}'.format(numbers))

numbers reversed: [10, 8, 6, 5, 1]

In [26]:
words = ['this', 'is', 'a', 'list', 'of', 'words']
words.sort()
print('words: {}'.format(words))

words: ['a', 'is', 'list', 'of', 'this', 'words']

## `sorted(list)`
While `list.sort()` sorts the list in-place, `sorted(list)` returns a new list and leaves the original untouched:

In [27]:
numbers = [8, 1, 6, 5, 10]
sorted_numbers = sorted(numbers)
print('numbers: {}, sorted: {}'.format(numbers, sorted_numbers))

numbers: [8, 1, 6, 5, 10], sorted: [1, 5, 6, 8, 10]

## `list.reverse()`

In [28]:
my_list = ['a', 'b', 'ham']
my_list.reverse()
print(my_list)

['ham', 'b', 'a']

In [29]:
numbers = [8, 1, 6, 5, 10]
numbers.reverse()
print(numbers)

[10, 5, 6, 1, 8]

# String Revisited
Python string has many similarities with python list.

In [30]:
st = "Python is cool"

In [31]:
st[1] # accesed by index

'y'

In [32]:
st[-1] # reverse index

'l'

In [33]:
st[2:6] #slicing

'thon'

In [34]:
st[-7:] #slicing with negative indexes

'is cool'

In [35]:
'Python' in st # in operator

True

In [97]:
'Python' not in st # not in operator

False

In [36]:
st + '!Yahoooo' # concatination operator

'Python is cool!Yahoooo'

In [100]:
'Yahoooo! ' + st # concatination operator

'Yahoooo! Python is cool'

In [37]:
len(st) # lin operator

14

In [40]:
st = """Python is 'cool', try it """

In [41]:
st[10]

"'"

In [102]:
min(st) # min operator

' '

In [103]:
max(st) # max operator

'y'

In [38]:
st[0][1]  # strins can not be nested

IndexError: string index out of range

In [7]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
a[0] = 'ABC'
a

['ABC', 'bar', 'baz', 'qux', 'quux', 'corge']

In [8]:
st[0] = 'X' # strings are immutable, cannot be changed

NameError: name 'st' is not defined

In [71]:
st = '20'

In [72]:
len(st)

2

In [74]:
st[1]

'0'

In [44]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
a = a + '20'
a

['foo', 'bar', 'baz', 'qux', 'quux', 'corge', '2', '0']

In [45]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
a = a + ['20']
a

['foo', 'bar', 'baz', 'qux', 'quux', 'corge', '20']

# Python Tuples
Python provides another type that is an ordered collection of objects, called a tuple.


## Defining and Using Tuples
Tuples are identical to lists in all respects, except for the following properties:

Tuples are defined by enclosing the elements in parentheses (()) instead of square brackets ([]).
Tuples are immutable.
Here is a short example showing a tuple definition, indexing, and slicing:

In [41]:
t = ('foo', 'bar', 'baz', 'qux', 'quux', 'corge')
t

('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

In [42]:
t = tuple(('foo', 'bar', 'baz', 'qux', 'quux', 'corge'))
t

('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

In [43]:
t[0]

'foo'

In [44]:
t[-1]

'corge'

In [46]:
t[1:3]

('bar', 'baz')

In [49]:
t[0:6:3]

('foo', 'qux')

Everything you’ve learned about lists—they are ordered, they can contain arbitrary objects, they can be indexed and sliced, they can be nested—is true of tuples as well. But they can’t be modified:

In [50]:
t = ('foo', 'bar', 'baz', 'qux', 'quux', 'corge')
t[2] = 'Bark!'

TypeError: 'tuple' object does not support item assignment

Why use a tuple instead of a list?

- Program execution is faster when manipulating a tuple than it is for the equivalent list. (This is probably not going to be noticeable when the list or tuple is small.)

- Sometimes you don’t want data to be modified. If the values in the collection are meant to remain constant for the life of the program, using a tuple instead of a list guards against accidental modification.

- There is another Python data type that you will encounter shortly called a dictionary, which requires as one of its components a value that is of an immutable type. A tuple can be used for this purpose, whereas a list can’t be.

In [64]:
a = 'foo'
b = 42
a, 3.14159, b

('foo', 3.14159, 42)

Python displays the response in parentheses because it is implicitly interpreting the input as a tuple.

There is one peculiarity regarding tuple definition that you should be aware of. There is no ambiguity when defining an empty tuple, nor one with two or more elements. Python knows you are defining a tuple:

In [51]:
t = ()
type(t)

tuple

In [52]:
t = (1, 2)
type(t)

tuple

In [53]:
t = (1, 2, 3, 4, 5)
type(t)

tuple

But what happens when you try to define a tuple with one item:

In [58]:
t = (2)
type(t)

int

Doh! Since parentheses are also used to define operator precedence in expressions, Python evaluates the expression (2) as simply the integer 2 and creates an int object. To tell Python that you really want to define a singleton tuple, include a trailing comma (,) just before the closing parenthesis:

In [60]:
t = (2,)
type(t)

tuple

In [61]:
t[0]

2

In [62]:
t[-1]

2

You probably won’t need to define a singleton tuple often, but there has to be a way.

When you display a singleton tuple, Python includes the comma, to remind you that it’s a tuple:

In [63]:
print(t)

(2,)

## Conversion between List and Tuple
It possible to convert from one list to tuple and from typle to list

#### List to Tuple

In [9]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
type(a)

list

In [10]:
b = tuple(a)
b

('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

In [11]:
type(b)

tuple

#### Tuple to List

In [68]:
t = ('foo', 'bar', 'baz', 'qux', 'quux', 'corge')
type(t)

tuple

In [69]:
a = list(t)
a

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [70]:
type(a)

list